<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>

<form th:action="@{/registration/register}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required/>
  <br/>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required/>
  <br/>

  <button type="submit">Register</button>
</form>

<p th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></p>
</body>
</html>
