<!-- resources/templates/login/error.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Error</title>
</head>
<body>

<style>
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Add any other styles you want */
  }
</style>

<!-- Add this line to include the image -->
<img src="https://desk.zoho.com/DocsDisplay?zgId=4241905&mode=inline&blockId=d94mpf1a93f8edf904fb6863d9cbc89b54f86" alt="Error Image">


</body>
</html>

